<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/assets/styles/styles.css" th:href="@{/assets/styles/styles.css}">
  <link rel="stylesheet" href="../static/assets/styles/header.css" th:href="@{/assets/styles/header.css}">
  <link rel="stylesheet" href="../static/assets/styles/footer.css" th:href="@{/assets/styles/footer.css}">
  <link rel="stylesheet" href="../static/assets/styles/table.css" th:href="@{/assets/styles/table.css}">
  <link rel="stylesheet" href="../static/assets/styles/popup.css" th:href="@{/assets/styles/popup.css}">
  <link rel="stylesheet" href="../static/assets/styles/splashscreen.css" th:href="@{/assets/styles/splashscreen.css}">

  <title>Home</title>
</head>
<body>

<!--Splashscreen-->
<div class="splashscreen">
  <div class="splashscreen-content">
    <div class="splashscreen-content-logo">
      <img src="../static/assets/images/Logo.svg" alt="logo" th:src="@{/assets/images/Logo.svg}" >
    </div>
    <div class="splashscreen-content-title">
      <span>We care, As you care</span>
    </div>
    <div class="loader">
      <div class="loader__element"></div>
    </div>
  </div>

</div>
<!--Header-->
<header>
  <div class="container">
    <div class="logo">
      <a href="/"><img src="../static/assets/images/Logo.svg" alt="logo" th:src="@{/assets/images/Logo.svg}" ></a>
    </div>
  </div>
</header>

<!--Main-->
<main>
  <div class="container">
    <div class="main-content">
      <div class="main-content-center">
        <img src="../static/assets/images/success.png" th:src="@{/assets/images/success.png}">
        <h2>Data has been <span th:text="${changeType}"></span>.</h2>
        <p>The changes you requested has been reflected.</p>

        <div>
        <button class="accent-button"><a href="/">Go Home</a></button>
        <button class="accent-button light-button"><a href="/pets">Pet List</a></button>
        </div>

      </div>
    </div>
  </div>
</main>

<!--Footer-->
<footer>
  <span> Afshan Akhtar &copy;</span>
</footer>

<script src="../static/assets/scripts/script.js" th:src="@{/assets/scripts/script.js}"></script>
</body>
</html>